@media only screen and (max-width: 600px) {
    nav i {
        margin-left: -10vmin;
    }
    nav a:link, #title h1, #title h2 {
        color: #000000;
    }
    #title h1, #title h2 {
        text-align: center;
    }
    #title h1 {
        font-size: 15vmin;
    }
    #title h2 {
        font-size: 10vmin;
    }
    #title-img {
        opacity: 0.7;
    }
    .quote h2 {
        font-size: 4vmax;
        margin-top: 15vmin;
    }
    cite {
        font-size: 2vmax;
    }
    .inner-text {
        font-size: 10vmax;
        top: -243vw;
        left: 27vw;
    }
    .inner-spacing {
        margin-bottom: 63vw;
        margin-right: 30vw;
    }
    #chart {
        margin-top: -100vmax;
    }
    #links p {
        font-size: 5vmin;
    }
    .fa-ul {
        font-size: 10vmin;
    }
    #lisk2 {
        height: 15vmin;
        width: 13vmin;
        top: -55vmin;
        left: 15px;
    }
    #creator img {
        height: 15vmin;
        width: 15vmin;
    }
}

@media only screen and (min-width: 601px) {
    nav i {
        margin-left: -10vmin;
    }
    nav a:link, #title h1, #title h2 {
        color: #000000;
    }
    #title h1, #title h2 {
        text-align: center;
    }
    #title h1 {
        font-size: 15vmin;
        margin-top: -2vmin;
    }
    #title h2 {
        font-size: 10vmin;
    }
    #title-img {
        opacity: 0.7;
    }
    #about p {
        font-size: 2.5vmin;
    }
    .quote h2 {
        font-size: 4vmax;
    }
    cite {
        font-size: 2vmax;
    }
    .inner-text {
        font-size: 3vmax;
        left: 10vw;
        top: -16vw;
    }
    .inner-spacing {
        margin-right: 22vw;
    }
    #links p {
        font-size: 2vmin;
    }
    .fa-ul {
        font-size: 2.8vmin;
    }
    #lisk2 {
        height: 5vmin;
        width: 4vmin;
        top: -16vmin;
        left: 0.8vmin;
    }
    #creator img {
        height: 8vmin;
        width: 8vmin;
        margin-bottom: -5vmin;
    }
}

@media screen and (min-width: 768px) {
    #title h1 {
        font-size: 13vmin;
    }
    #title h2 {
        font-size: 7vmin;
    }
    .quote h2 {
        font-size: 6vmin;
    }
    cite {
        font-size: 4vmin;
    }
    .inner-text {
        top: -15vw;
    }
    .inner-spacing {
        margin-right: 22.5vw;
    }
}

@media screen and (min-width: 1024px) {
    .selected {
        position: fixed;
        width: 65vmax;
    }
    nav i {
        margin-left: -30vmin;
    }
    nav a:link {
        color: #b0bec5;
    }
    #title h1 {
        color: #b0bec5;
        font-size: 10vmin;
        text-align: left;
        margin-top: 50px;
        margin-left: -100px;
    }
    #title h2 {
        color: #b0bec5;
        text-align: right;
        position: relative;
        right: -100px;
    }
    #title-img {
        opacity: 1;
    }
    .quote h2 {
        font-size: 5vmin;
        margin-top: 10vmin;
    }
    cite {
        font-size: 3vmin;
    }
    .inner-text {
        left: 15vmin;
        top: -24vmin;
    }
    .inner-spacing {
        margin-right: 30vmin;
    }
    #links p {
        font-size: 3vmin;
    }
    .fa-ul {
        font-size: 3.8vmin;
    }
    #lisk2 {
      height: 4vmax;
      width: 3vmax;
      top: -22vmin;
      left: 10px;
    }
    #creator img {
        margin-bottom: -3vmin;
    }
}

@media screen and (min-width: 1920px) {
    #title h1 {
        font-size: 9vmin;
    }
    #title h2 {
        font-size: 7vmin;
    }
    #about p {
        font-size: 1.8vmin;
    }
    .inner-text {
        top: -14vmax;
    }
    .inner-spacing {
        margin-right: 32vmin;
    }
    #footer-social {
        float: right;
    }
}

@media screen and (min-width: 2560px) {
    #title h1 {
        font-size: 8vmin;
        margin-top: 20px;
        margin-left: -200px;
    }
    #title h2 {
        font-size: 6vmin;
        margin-top: 20px;
        right: -200px;
    }
    #about p {
        font-size: 1.5vmin;
    }
    .quote h2 {
        margin-top: 5vmin;
    }
    .inner-text {
        font-size: 3vmax;
        left: 5vw;
        top: -11vmax;
    }
    .inner-spacing {
        margin-right: 11.5vw;
    }
    #links p, #footer-social li {
        font-size: 2.5vmin;
    }
    #lisk2 {
        height: 3vmax;
        width: 2vmax;
        top: -16vmin;
        left: 3.5vmin;
    }
}

@media screen and (min-width: 3840px) {
  .selected {
      width: 40vmax;
  }
  #title h1 {
      font-size: 5vmin;
      margin-top: 40px;
      margin-left: -300px;
  }
  #title h2 {
      font-size: 4vmin;
      margin-top: 20px;
      right: -400px;
  }
  #social-row {
    position: relative;
    top: -20px;
  }
  #about p {
      font-size: 1vmin;
  }
  .quote h2 {
      font-size: 3vmin;
  }
  cite {
      font-size: 2vmin;
  }
  .inner-text {
      font-size: 3vmin;
      left: 7vmin;
      top: -12vmin;
  }
  .inner-spacing {
      margin-right: 14vmin;
  }
  #footer-social li{
    position: relative;
    top: -2vmin;
    left: -10vmin;
  }
  #links p, #footer-social li {
      font-size: 1.3vmin;
  }
  #lisk2 {
      height: 3vmin;
      width: 2vmin;
      top: -12.5vmin;
      left: -4.3vmin;
  }
  #creator img {
      margin-bottom: -1.5vmin;
  }
}

body {
    font-family: "Josefin Sans", sans-serif;
}


/* Used inherit to stop icons from turning blue because of the link assignment*/

.icon-block a, #footer-social a, .card a {
    color: inherit;
}

footer {
    color: #b0bec5;
}

#title h1 {
    font-weight: 700;
    padding-top: 50px;
}

.navbar-fixed nav {
    position: static;
}

.scroll-change {
    background-color: #000000;
    color: #eceff1;
}

nav ul li:hover {
    background-color: #eceff1;
    color: #000000;
}

#normal-nav li {
    font-weight: 700;
    font-size: 3vmin;
}

.side-nav {
    background-color: #000000;
}

.side-nav li {
    color: #FFFFFF;
}

#title .fa-circle {
    color: #262626;
    opacity: 0.7;
}

#title h2, #title h4, #about h3, cite, #projects h1, #stats h1, .quote h2, footer h3, footer h5, footer {
    font-weight: 600;
}

.lisk-img {
    position: relative;
    z-index: 1;
}

#lisk1 {
    height: 70px;
    width: 60px;
    top: 10px;
}

#about p {
    font-weight: 400;
}

.quote-img img {
    opacity: 0.5;
}

.inner-text {
    display: inline-block;
    position: relative;
}

.tablesorter-materialize thead th, .tablesorter-materialize tfoot th {
    background-color: #263238;
    color: #eceff1;
}

table a:link {
    color: #006064;
}

select {
    color: #000000;
}

#projects .card {
    font-weight: 400;
}

#projects img {
    height: 200px;
}

#delegate img {
    width: 800px;
}

#pylisk img {
    width: 500px;
}

#lremotemon img {
    width: 400px;
}
